a.customlink {
  color: #ffffff;
}
a.customlink:hover {
  text-decoration: none!important;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.flex-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: rgba(33, 150, 243, 0.82);
  border-radius: 10px;
  padding: 5px;
  width: 272px;
  height: 272px;
  margin: 10px 0;
  color: #ffffff;
  font-size: 2.5em;
  text-align: center;
  cursor: pointer;
}

i {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .flex-item {
    margin: 50px 6px;
  }
}